html {
    overflow: hidden;
}

#flipbook-wrapper {
    max-width: 100vw;
    position: fixed;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    -webkit-user-drag: none;
}

#flipbook-container {
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

@keyframes flipbook-transition-to-one-start {
    0% {
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        top: 51%;
        left: 0%;
        transform: translate(0%, -50%)
    }
}

@keyframes flipbook-transition-to-one-end {
    0% {
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        top: 51%;
        left: 100%;
        transform: translate(-100%, -50%)
    }
}

@keyframes flipbook-transition-to-two-start {
    0% {
        top: 51%;
        left: 0%;
        transform: translate(0%, -50%);
    }

    100% {
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes flipbook-transition-to-two-end {
    0% {
        top: 51%;
        left: 100%;
        transform: translate(-100%, -50%);
    }

    100% {
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.page {
    background-color: white;
    overflow: hidden;
}

.page-content {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.page-img {
    width: 100%;
    height: 100%;
    display: block;
    image-rendering: pixelated;
    /* Older vendor-prefixed versions for compatibility */
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor; /* IE/Edge legacy */
}


.controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.controls img {    
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 2px;
    cursor: pointer;
    background: white;
    width: 2em;
    height: 2em;
    padding: 0.25em 5vw;
    z-index: 5;
}

#backBtn {
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 2px;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
    background: white;
    padding: 0.25em;
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 5;
}