main {
    max-width: 680px;
    margin-bottom: 4em;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
}

h1 {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: maroon;
    font-size: 42px;
    font-weight: 700;
    margin: 0.5em 0;
    margin-top: 0.5em;
}