
#main {
    width: 680px;
    margin: auto;
    padding: 1em;
}

#main > h2 {
    color: maroon;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    margin-bottom: 0.25em;
    text-align: center;
}

#main > a {
    text-decoration: none;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

@keyframes shrink {
    0% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}
