html {
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: underline !important;
}

article {   
    max-width: 680px;
    margin: auto;
    margin-bottom: 4em;
}

#title {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #242424;
    font-size: 42px;
    font-weight: 700;
    margin: 0.5em 0;
    margin-top: 0.5em;
}

#article-info {
    display: flex;
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    color: #242424;
}

#article-info a {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    color: #242424;
    text-decoration: none;
}

#article-info-divider {
    margin: 0 0.5em;
}

#image {
    max-width: 100%;
    margin: 1em 0;
}

#main {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    color: #242424;
    font-size: 18px;
}

#main p {
    margin: 0;
    margin-top: 1.8em;
    line-height: 1;
}

#main a {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    color: #242424;
    font-size: 18px;
}

footer > h2 {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #242424;
    font-size: 28px;
    margin-bottom: 0.25em;
}


#inkers-on-duty {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

#inkers-on-duty > a {
    text-decoration: none;
}

.inkers {
    display: flex;
    gap: 14px;
    align-items: center;
    margin: 1em;
}

.inkers > div {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #242424;
    font-size: 18px;
    font-weight: 500;
}

.inkers > img {
    max-width: 55px;
    border-radius: 100%;
}