html {
    scroll-behavior: smooth;
}

article {   
    max-width: 680px;
    margin: auto;
    margin-bottom: 4em;
}

#title {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #242424;
    font-size: 42px;
    font-weight: 700;
    margin: 0.5em 0;
    margin-top: 0.5em;
}

#article-info {
    display: flex;
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    color: #242424;
}

#article-info a {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    color: #242424;
    text-decoration: none;
}

#article-info a:hover {
    text-decoration: underline;
}

#article-info-divider {
    margin: 0 0.5em;
}

#image {
    max-width: 100%;
    margin: 1em 0;
}

#main {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    color: #242424;
    font-size: 18px;
}

#main p {
    margin: 0;
    line-height: 1.7;
    margin-bottom: 1.8em;
}

#main a {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    color: #242424;
    font-size: 18px;
}

footer > h2 {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #242424;
    font-size: 28px;
    margin-bottom: 0.25em;
}


#inkers-on-duty {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

#inkers-on-duty > a {
    text-decoration: none;
}

.inkers {
    display: flex;
    gap: 14px;
    align-items: center;
    margin: 1em;
}

.inkers:hover {
    animation: 0.25s ease 0s grow;
    animation-fill-mode: forwards;
}

.inkers:not(:hover) {
    animation: 0.25s ease 0s shrink;
    animation-fill-mode: forwards;
}

.inkers > div > h3 {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #242424;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.inkers > div > p {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    color: #7a7a7a;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-left: 1px;
}

.inkers > img {
    max-width: 55px;
    border-radius: 100%;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

@keyframes shrink {
    0% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}