main {
    max-width: 680px;
    margin: auto;
    margin-bottom: 4em;
    text-align: center;
    margin-top: 70px;
}

#img {
    border-radius: 100%;
}

#name {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #242424;
    font-size: 42px;
    font-weight: 700;
    margin: 0.5em 0;
    margin-top: 0.5em;
}

#bio {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    color: #242424;
    text-decoration: none;
}

section > h2 {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #242424;
    font-size: 28px;
    margin-bottom: 1em;
    text-align: left;
}

hr {
    margin: 2em 0;
}