#main a {
    text-decoration: none;
}

.articles {
    display: flex;
    align-items: center;
    padding: 0.25em;
    gap: 5px;
    margin: 1em 0.25em;
}

.articles > div {
    width: 70%;
    text-align: left;
    padding-right: 1em;
}

.articles > div > h1 {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #242424;
    font-size: 23px;
    margin: 0.5em 0;
}

.articles > div > h2 {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    font-weight: 400;
}

.articles > div > p {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
}

.articles > img {
    width: 30%;
    height: 100px;
    object-fit: scale-down;
}

.articles:hover {
    animation: 0.25s ease 0s grow;
    animation-fill-mode: forwards;
}

.articles:not(:hover) {
    animation: 0.25s ease 0s shrink;
    animation-fill-mode: forwards;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}

@keyframes shrink {
    0% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}