#main a {
    text-decoration: none;
}

.articles {
    display: flex;
    align-items: center;
    padding: 0.25em;
    gap: 5px;
    margin: 1.5em 0.25em;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.articles > div {
    width: 70%;
    text-align: left;
    padding-right: 1em;
}

.articles > div > h1 {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #353535;
    font-size: 23px;
    margin: 0.5em 0;

    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.articles > div > h2 {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    font-weight: 400;

    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.articles > div > p {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #585858;
    font-size: 14px;
}

@media screen and (max-width: 730px) {
    .articles > div > h1 {
        font-size: 20px;
    }

    .articles > div > h2 {
        font-size: 16px;
        font-weight: 400;
    }

    .articles > div > p {
        font-size: 14px;
    }
}

.articles > img {
    width: 30%;
    height: 100px;
    object-fit: scale-down;
}

.articles:hover {
    animation: 0.25s ease 0s grow;
    animation-fill-mode: forwards;
}

.articles:not(:hover) {
    animation: 0.25s ease 0s shrink;
    animation-fill-mode: forwards;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}

@keyframes shrink {
    0% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}