body {
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}


#content::before {
    content: "";
    flex: 0 0 200px;
}

#navtop {
    padding: 0.5em;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
    display: flex;
    align-items: center;
}

#navtop > a:has(#home-icon) {
    margin: 0 1.5em;
}

#home-icon {
    max-width: 48px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#home-icon:hover {
    animation: 0.25s ease 0s growNavtop;
    animation-fill-mode: forwards;
}

#home-icon:not(:hover) {
    animation: 0.25s ease 0s shrinkNavtop;
    animation-fill-mode: forwards;
}

#options-icon {
    max-width: 20px;
    margin-left: 1.65em;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#options-icon:hover {
    animation: 0.25s ease 0s growNavtop;
    animation-fill-mode: forwards;
}

#options-icon:not(:hover) {
    animation: 0.25s ease 0s shrinkNavtop;
    animation-fill-mode: forwards;
}

#navtop > div:has(#searchbox) {
    display: flex;
    justify-content: center;
    margin-left: 3em;
}

@media screen and (max-width: 600px) {
    #navtop > div:has(#searchbox) {
        margin-left: 0;
    }

    #subnav {
        gap: 20px !important;
    }

    #subnav > a {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 400px) {
    #navtop > a:has(#home-icon) {
        margin: 0 0.5em;
    }
    
    #options-icon {
        max-width: 20px;
        margin-left: 0.5em;
        cursor: pointer;
    }

    #searchbox {
        width: 125px;
    }

    #subnav {
        gap: 10px !important;
    }
}

h1 {
    color: maroon;
}

hr {
    border-color: maroon;
}


#searchbox {
    margin-left: 0.75em;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-color: transparent;
}

#searchbox:focus {
   outline: none;
   box-shadow: none;
   border-color: transparent;
}

#search-icon {
    max-width: 25px;
    margin-left: 1.45em;
    cursor: pointer;
}

@keyframes growNavtop {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes shrinkNavtop {
    0% {
        transform: scale(1.04);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes navbar-show {
    0% {
        top: -66px;
    }
    100% {
        top: -0px;
    }
}

@keyframes navbar-hide {
    0% {
        top: 0px;
    }
    100% {
        top: -66px;
    }
}

@keyframes subnav-show {
    0% {
        top: 0px;
    }
    100% {
        top: 65px;
    }
}

@keyframes subnav-hide {
    0% {
        top: 65px;
    }
    100% {
        top: 0px;
    }
}

@keyframes navside-show {
    0% {
        left: -200px;
    }
    100% {
        left: -0px;
    }
}

@keyframes navside-hide {
    0% {
        left: 0px;
    }
    100% {
        left: -200px;
    }
}

@keyframes navside-hide2 {
    0% {
        flex-basis: 200px;
    }
    100% {
        flex-basis: 0px;
    }
}

@keyframes navside-show2 {
    0% {
        flex-basis: 0px;
    }
    100% {
        flex-basis: 200px;
    }
}

@keyframes growNavside {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.07);
    }
}

@keyframes shrinkNavside {
    0% {
        transform: scale(1.04);
    }

    100% {
        transform: scale(1);
    }
}

#navside {
    width: 200px;
    position: fixed;
    left: 0;
    top: 90px;
    padding-top: 3em;
    display: none;
    background-color: white;
    z-index: 5;
    height: 100%;
    margin-top: -45px;
    user-select: none;
}

#navside > a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 2em;
}

#navside > a:hover {
    animation: 0.25s ease 0s growNavside;
    animation-fill-mode: forwards;
}

#navside > a:not(:hover) {
    animation: 0.25s ease 0s shrinkNavside;
    animation-fill-mode: forwards;
}

#navside > a > div {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #242424;
    font-size: 16px;
    font-weight: 500;
    margin: 1em 0;
    margin-left: 1em;
}

#navside > a > img {
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 950px) {
    #navside {
        display: none;
    }
}

#subnav {
    display: flex;
    flex-direction: row;
    position: sticky;
    padding: 0.25em;
    top: 65px;
    left: 0;
    gap: 40px;
    background-color: white;
    z-index: 1;
}

#subnav > a {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0.25em;
    margin-top: 20px;
    padding-bottom: 1em;
    cursor: pointer;
    margin-bottom: 0;
}

#subnav > a.current {
    border-bottom: 1px solid #242424;
}

@keyframes growSubnavButton {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.08);
    }
}

@keyframes shrinkSubnavButton {
    0% {
        transform: scale(1.04);
    }

    100% {
        transform: scale(1);
    }
}

#subnav > a:hover {
    animation: 0.25s ease 0s growSubnavButton;
    animation-fill-mode: forwards;
}

#subnav > a:not(:hover) {
    animation: 0.25s ease 0s shrinkSubnavButton;
    animation-fill-mode: forwards;
}

#loadingscreen {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 7;
    top: 0px;
}

#loadingtext {
    font-size: 36px;
    color: #242424;
    display: inline-block;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loadingtext:before{
    content: '';
    animation: 1.67s print linear alternate infinite;
}

#loadingtext:after{
    content: '';
    position: absolute;
    right: -4px;
    top: 50%;
    transform: translatey(-45%);
    width: 2px;
    height: 1.3em;
    background: currentColor;
    opacity: 0.8;
    animation: 1s blink steps(2) infinite;
}

@keyframes blink {
    0%  { visibility: hidden;}
    100%  { visibility: visible;}
}
@keyframes print {
    0% { content: 'L'}
    10% { content: 'Lo'}
    20% { content: 'Loa'}
    30% { content: 'Load'}
    40% { content: 'Loadi'}
    50% { content: 'Loadin'}
    60% { content: 'Loading'}
    70% { content: 'Loading.'}
    80% { content: 'Loading..'}
    90% , 100% { content: 'Loading...'}
}