#main {
    width: 680px;
    margin: auto;
    padding: 1em;
}

#main > #list > h2 {
    color: maroon;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    margin-bottom: 0.25em;
    text-align: center;
}

#main > a {
    text-decoration: none;
}