.inkers {
    display: flex;
    align-items: center;
    padding: 0.25em;
    gap: 5px;
    margin: 1em 0.25em;
}

.inkers:hover {
    animation: 0.25s ease 0s grow;
    animation-fill-mode: forwards;
}

.inkers:not(:hover) {
    animation: 0.25s ease 0s shrink;
    animation-fill-mode: forwards;
}

.inkers > div {
    width: 80%;
    text-align: left;
    padding-left: 1em;
}

.inkers > div > h1 {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #242424;
    font-size: 23px;
    font-weight: 700;
    margin: 0;    
    
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.inkers > div > h2 {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-left: 1px;

    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.inkers > img {
    height: 100px;
    border-radius: 100%;
    width: 100px;
    object-fit: scale-down;
}