
section {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

section::before {
    content: "";
    flex: 0 0 200px;
}

main {
    max-width: 680px;
    margin-bottom: 4em;
    text-align: center;
    margin: auto;
}

main > h2 {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #242424;
    font-size: 32px;
    margin-bottom: 0.5em;
}