main {
    max-width: 680px;
    margin-bottom: 4em;
    text-align: center;
    margin: auto;
    padding: 1em;
}

@media screen and (max-width: 500px) {
    main {
        padding: 0.5em;
    }
}

main > h2  {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: maroon;
    font-size: 32px;
    margin-bottom: 0.5em;
    user-select: none;
}

hr {
    border-color: maroon;
}

main > div {
    margin-bottom: 2em;
}

main > a {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;    
    color: maroon;
    font-size: 20px;
    margin-bottom: 1em;
    text-decoration: underline !important;
    display: block;
}


main > a:hover {
    animation: 0.25s ease 0s grow;
    animation-fill-mode: forwards;
}

main > a:not(:hover) {
    animation: 0.25s ease 0s shrink;
    animation-fill-mode: forwards;
}


@keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

@keyframes shrink {
    0% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}