
#main {
    width: 680px;
    margin: auto;
    padding: 1em;
}

#main > h2 {
    color: maroon;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    margin-bottom: 0.25em;
    text-align: center;
    user-select: none;
}

.stafflist > a {
    text-decoration: none;
}

.stafflist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    margin-bottom: 2em;
}

.inkers {
    display: flex;
    gap: 14px;
    align-items: center;
    margin: 1em;
    padding: 1em;
    width: 260px;
    cursor: pointer;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.inkers:hover {
    animation: 0.25s ease 0s grow;
    animation-fill-mode: forwards;
}

.inkers:not(:hover) {
    animation: 0.25s ease 0s shrink;
    animation-fill-mode: forwards;
}

.inkers > div > h3 {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #353535;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.inkers > div > p {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #7a7a7a;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-left: 1px;
}

.inkers > img {
    max-width: 55px;
    border-radius: 100%;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

@keyframes shrink {
    0% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}
