body {
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}


#content::before {
    content: "";
    flex: 0 0 225px;
}

#navtop {
    padding: 2em 0.5em;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

#navtop > a:has(#home-icon) {
    margin: 0 1.5em;
}

#home-icon {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    user-select: none;
}

#home-icon:hover {
    animation: 0.25s ease 0s growNavtop;
    animation-fill-mode: forwards;
}

#home-icon:not(:hover) {
    animation: 0.25s ease 0s shrinkNavtop;
    animation-fill-mode: forwards;
}

#options-icon {
    width: 20px;
    height: 16px;
    margin-left: 0.65em;
    cursor: pointer;
    user-select: none;
    padding: 1em;
    filter: drop-shadow(rgb(20, 20, 20) 1px 12px 10px);
}

#options-icon:hover {
    animation: 0.25s ease 0s growNavtop;
    animation-fill-mode: forwards;
}

#options-icon:not(:hover) {
    animation: 0.25s ease 0s shrinkNavtop;
    animation-fill-mode: forwards;
}

#navtop > div:has(#searchbox) {
    display: flex;
    margin-left: 3em;
    width: 100%;
}

@media screen and (max-width: 600px) {
    #navtop > div:has(#searchbox) {
        margin-left: 0;
    }

    #subnav {
        gap: 20px !important;
    }

    #subnav > span {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 400px) {
    #navtop > a:has(#home-icon) {
        margin: 0 0.5em;
    }
    
    #options-icon {
        max-width: 20px;
        margin-left: 0.5em;
        cursor: pointer;
    }

    #searchbox {
        width: 125px;
    }

    #subnav {
        gap: 10px !important;
    }
}

h1 {
    color: maroon;
}

hr {
    border-color: maroon;
}

#searchbox {
    margin-left: 0.75em;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-color: transparent;
    user-select: none;
    width: 80%;
}

#searchbox:focus {
   outline: none;
   box-shadow: none;
   border-color: transparent;
}

#search-icon {
    width: 25px;
    height: 22px;
    margin-left: 1.45em;
    cursor: pointer;
    user-select: none;
}

@keyframes growNavtop {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes shrinkNavtop {
    0% {
        transform: scale(1.04);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes navbar-show {
    0% {
        top: -66px;
    }
    100% {
        top: -0px;
    }
}

@keyframes navbar-hide {
    0% {
        top: 0px;
    }
    100% {
        top: -66px;
    }
}

@keyframes subnav-show {
    0% {
        top: 0px;
    }
    100% {
        top: 60px;
    }
}

@keyframes subnav-hide {
    0% {
        top: 60px;
    }
    100% {
        top: 0px;
    }
}

@keyframes navside-show {
    0% {
        left: -225px;
    }
    100% {
        left: -0px;
    }
}

@keyframes navside-hide {
    0% {
        left: 0px;
    }
    100% {
        left: -225px;
    }
}

@keyframes navside-hide2 {
    0% {
        flex-basis: 225px;
    }
    100% {
        flex-basis: 0px;
    }
}

@keyframes navside-show2 {
    0% {
        flex-basis: 0px;
    }
    100% {
        flex-basis: 225px;
    }
}

@keyframes growNavside {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.07);
    }
}

@keyframes shrinkNavside {
    0% {
        transform: scale(1.04);
    }

    100% {
        transform: scale(1);
    }
}

#navside {
    width: 225px;
    position: fixed;
    left: 0;
    top: 90px;
    padding-top: 3em;
    display: none;
    background-color: white;
    z-index: 5;
    height: 100%;
    margin-top: -45px;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#navside > a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 1.7em;
    margin-left: 0.3em
}

#navside > a.current::after {
    content: '';
    position: absolute;
    background: black;
    top: 25%;
    left: 0;
    height: 50%;
    width: 1px;
}

#navside > a:hover {
    animation: 0.25s ease 0s growNavside;
    animation-fill-mode: forwards;
}

#navside > a:not(:hover) {
    animation: 0.25s ease 0s shrinkNavside;
    animation-fill-mode: forwards;
}

#navside > a > div {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #242424;
    font-size: 16px;
    font-weight: 500;
    margin: 1em 0;
    margin-left: 1em;
}

#navside > a > img {
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 950px) {
    #navside {
        display: none;
    }
}

#subnav {
    display: flex;
    flex-direction: row;
    position: sticky;
    padding: 0.25em;
    top: 60px;
    left: 0;
    gap: 40px;
    background-color: white;
    z-index: 4;
    overflow-x: auto;
}

#subnav > span {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0.25em;
    margin-top: 20px;
    padding-bottom: 1em;
    cursor: pointer;
    user-select: none;
    margin-bottom: 0;
}

#subnav > span.current {
    border-bottom: 1px solid #242424;
}

@keyframes growSubnavButton {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.08);
    }
}

@keyframes shrinkSubnavButton {
    0% {
        transform: scale(1.04);
    }

    100% {
        transform: scale(1);
    }
}

#subnav > span:hover {
    animation: 0.25s ease 0s growSubnavButton;
    animation-fill-mode: forwards;
}

#subnav > span:not(:hover) {
    animation: 0.25s ease 0s shrinkSubnavButton;
    animation-fill-mode: forwards;
}






#loadingscreen {
    view-transition-name: loader;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 7;
    top: 0px;
}

#loadingscreen > svg {
    position: absolute;
    right: 50%;
    top: 45%;
    transform: translate(50%, 50%);
    height: 35px;
}

@media screen and (max-width: 768px) {
    #loadingscreen > svg {
        height: 25px;
    }
}

/* Google chrome */
@-webkit-keyframes svg-text-anim {
    40% {
        stroke-dashoffset: 0;
        fill: transparent;
    }
    60% {
        stroke-dashoffset: 0;
        fill: #800000;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #800000;
    }
}

/* Most browsers */
@keyframes svg-text-anim {
    40% {
        stroke-dashoffset: 0;
        fill: transparent;
    }
    60% {
        stroke-dashoffset: 0;
        fill: #800000;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #800000;
    }
}

@keyframes show-loading-screen {
    0% {
        opacity: 0;
        display: block;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hide-loading-screen {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes blink {
    0%  { visibility: hidden;}
    100%  { visibility: visible;}
}
@keyframes print {
    0% { content: 'L'}
    10% { content: 'Lo'}
    20% { content: 'Loa'}
    30% { content: 'Load'}
    40% { content: 'Loadi'}
    50% { content: 'Loadin'}
    60% { content: 'Loading'}
    70% { content: 'Loading.'}
    80% { content: 'Loading..'}
    90% , 100% { content: 'Loading...'}
}

#navside > footer {
    text-align: center;
    position: absolute;
    bottom: 6.5em;
    left: 0;
    width: 100%;
}

#navside > footer > a {
    font-size: 12px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#242424;
    text-decoration: none;
}

#navside > footer > a:hover {
    text-decoration: underline;
}


::-webkit-scrollbar {
    background-color: #cecece;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgb(150, 0, 0);
    border-radius: 1px;
    /* 3D Border Trick: Light top/left, Dark bottom/right */
    border-left: 4px solid rgb(240, 120, 120);
    border-top: 4px solid rgb(240, 120, 120);
    border-right: 4px solid rgb(99, 0, 0);
    border-bottom: 4px solid rgb(99, 0, 0);
    
    /* Adds a slight shadow for extra depth */
    box-shadow: inset 1px 1px 0px rgba(128,0,0,0.5);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(185, 0, 0);
    cursor: pointer;
}